/*  CSS stylesheet  */

/*  style.css ~~
*   This contains markup instructions for project documentation and writeup.
*                                                           ~~ SRW, 29 Oct 2010
*/

body {
    background-color: #CCCCCC;
    color: #002469;
    font-family: Georgia, serif;
    margin: 20%;
    text-align: center;
}

/*  vim:set syntax=css:  */
