/*  CSS stylesheet  */

/*  style.css ~~
*                                                           ~~ SRW, 18 Feb 2011
*/

body {
    background-color: #CCCCCC;
    color: black;
    font-family: Georgia, serif;
    font-size: 20pt;
    text-align: center;
}

canvas {
    border: 1px solid black;
}

noscript {
    color: red;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.mono {
    font-family: Menlo, AndaleMono, monospace;
}

/*  vim:set syntax=css: */
